.card-container {
    width: auto;
    padding: 0 1vw;
    background-color: white;
    border-radius: 6px;
    height: 14vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 14px;
}

.card-title {
    display: flex;
    gap: 5px;

}

.card-category-tag {
    display: flex;
    align-items: center;
    gap: 5px;
}

.card-category {
    color: gray;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 2px 8px;
}

.card-id-title {
    display: flex;
    flex-direction: column;
}

.card-tag {
    display: flex;
    color: gray;
    gap: 5px;
    align-items: center;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 2px 8px;
    font-size: 12px;
}

.card-id {
    color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-img-container {
    position: relative;
}

.card-img {
    border-radius: 50%;
    height: 20px;
    width: 20px
}

.card-img-status {
    position: absolute;
    top: 13px;
    left: 13px;
    font-size: 9px;
    color: rgb(10, 212, 10);
}