.dashboard-box-container {
    width: 16%;
    min-width: 260px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.dashboard-box-category {
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.dashboard-box-category-txt {
    display: flex;
    gap: 8px;
    font-size: 15px;
    font-weight: 500;
    align-items: center;
}

.dashboard-box-card-container {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.dashboardbox-img-container {
    position: relative;
}